# Python Crash Course

Check the link referenced for more introduction basis to python. [Complete Python Bootcamp](https://www.udemy.com/complete-python-bootcamp/?couponCode=PY20) instead.


This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if,elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

In [2]:
600/2

300.0

In [8]:
name = 'sola'

In [4]:
'sola' +'john'

'solajohn'

In [9]:
"sola" + 'john'

'solajohn'

In [1]:
200+300

500

# Python numbers variables are created by the standard Python method#

var = 382
Most of the time using the standard Python number type is fine.
Python will automatically convert a number from one type to another if it needs. 
But, under certain circumstances that a specific number type is needed (ie. complex, hexidecimal), the format can be forced into a format by using additional syntax in the table below:#

# Strings
Create string variables by enclosing characters in quotes. Python uses single quotes ' double quotes " and triple quotes """ to denote literal strings. Only the triple quoted strings """ also will automatically continue across the end of line statement.

firstName = 'John'
lastName = "smith"

In [10]:
 name = "Damilola Adebambo"

# List
Lists are a very useful variable type in Python. 
A list can contain a series of values. List variables are declared by using brackets [ ] following the variable name.

mylist = [0, 1, 2, 3]
mylist[0] = 'Rhino'
mylist[1] = 'Grasshopper'
mylist[2] = 'Flamingo'
mylist[3] = 'Bongo'
print mylist[1]

In [20]:
fruit = ["apple", "mango", "orange", "carrot"]
fruit

['apple', 'mango', 'orange', 'carrot']

# slicers

In [21]:
fruit

['apple', 'mango', 'orange', 'carrot']

In [22]:
fruit[1]

'mango'

In [23]:
fruit[-1]

'carrot'

In [26]:
fruit[0]

'apple'

# Tuples
Tuples are a group of values like a list and are manipulated in similar ways. But, tuples are fixed in size once they are assigned. In Python the fixed size is considered immutable as compared to a list that is dynamic and mutable. Tuples are defined by parenthesis ().
myGroup = ('Rhino', 'Grasshopper', 'Flamingo', 'Bongo')

In [32]:
tuple =  ("apple", "mango", "Orange")
tuple

('apple', 'mango', 'Orange')

In [ ]:
()

# Print
The print() function displays the string value inside the parentheses on the
screen. 
print('Hello world!')

In [43]:
#first line of code
print("Hello world!")

Hello world!

# Here are some advantages of tuples over lists:

Elements to a tuple. Tuples have no append or extend method.
Elements cannot be removed from a tuple.
You can find elements in a tuple, since this doesn’t change the tuple.
You can also use the in operator to check if an element exists in the tuple.
Tuples are faster than lists. If you’re defining a constant set of values and all you’re ever going to do with it is iterate through it, use a tuple instead of a list.
It makes your code safer if you “write-protect” data that does not need to be changed.

# Dictionaries
Dictionaries in Python are lists of Key:Value pairs. This is a very powerful datatype to hold a lot of related information that can be associated through keys. The main operation of a dictionary is to extract a value based on the key name. Unlike lists, where index numbers are used, dictionaries allow the use of a key to access its members. Dictionaries can also be used to sort, iterate and compare data.

Dictionaries are created by using braces ({}) with pairs separated by a comma (,) and the key values associated with a colon(:). In Dictionaries the Key must be unique. Here is a quick example on how dictionaries might be used

room_num = {'john': 425, 'tom': 212}

In [40]:
state = {"Ondo": 16, "Lagos": 17, "Abuja": 10, "Kano": 90} 
state

{'Ondo': 16, 'Lagos': 17, 'Abuja': 10, 'Kano': 90}

# Boolean
Boolean data type is one of the built in data types provided by python, which represents one of the two values (True or False)

1==1 is True whereas 2<1 is false

In [33]:
10==19

False

In [37]:
10==10

True

In [34]:
10>19

False

## Data types

### Numbers

In [6]:
1 + 1

2

### Variable Assignment

In [13]:
# Can not start with number or special characters
name_of_var = 2

In [11]:
name = "Damilola Adebambo"

In [12]:
name

'Damilola Adebambo'

In [13]:
x = 5
y= 10

In [16]:
answer = x+y
answer

15

In [17]:
x*y

50

In [14]:
x = 2
y = 3

In [15]:
z = x + y

### Strings

In [17]:
'single quotes'

'single quotes'

In [18]:
"double quotes"

'double quotes'

In [19]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Printing

In [20]:
x = 'hello'

In [21]:
x

'hello'

In [22]:
print(x)

hello

In [1]:
num = 12
name = 'Sam'

'Sam'

In [24]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [25]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

### Lists

In [26]:
[1,2,3]

[1, 2, 3]

In [27]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [28]:
my_list = ['a','b','c']

In [29]:
my_list.append('d')

In [30]:
my_list

['a', 'b', 'c', 'd']

In [31]:
my_list[0]

'a'

In [32]:
my_list[1]

'b'

In [33]:
my_list[1:]

['b', 'c', 'd']

In [34]:
my_list[:1]

['a']

In [35]:
my_list[0] = 'NEW'

In [98]:
my_list

['NEW', 'b', 'c', 'd']

In [99]:
nest = [1,2,3,[4,5,['target']]]

In [100]:
nest[3]

[4, 5, ['target']]

In [101]:
nest[3][2]

['target']

In [102]:
nest[3][2][0]

'target'

### Dictionaries

In [37]:
d = {'key1':'item1','key2':'item2'}

In [38]:
d

{'key1': 'item1', 'key2': 'item2'}

In [39]:
d['key1']

'item1'

In [46]:
people = {"Damilola": "Abeokuta", "Deborah": "Yaba", "Docars": "Ibadan", "Opeyemi": "Ikorodu", "Aisha": "Jos"}

In [47]:
people

{'Damilola': 'Abeokuta',
 'Deborah': 'Yaba',
 'Docars': 'Ibadan',
 'Opeyemi': 'Ikorodu',
 'Aisha': 'Jos'}

In [54]:
people

{'Damilola': 'Abeokuta',
 'Deborah': 'Yaba',
 'Docars': 'Ibadan',
 'Opeyemi': 'Ikorodu',
 'Aisha': 'Jos'}

### Booleans

In [40]:
True

True

In [41]:
False

False

### Tuples

In [42]:
t = (1,2,3)

In [43]:
t[0]

1

### Sets

In [3]:
colour = {"Blue", "Yellow", "Red", "Black"}
print(len(colour))

4

In [ ]:
LEN

In [45]:
{1,2,3}

{1, 2, 3}

In [46]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

## Comparison Operators

In [4]:
print(10*5)

50

In [8]:
10*5

50

In [ ]:
= ==

In [12]:
2==2

True

In [9]:
number = 1 
number

1

Arithmetic Operator (+,-,*,/, %)
Assignment operator (=,+=, %=)
comparison operator (>,<,==,<=,=>)
Logical Operator (And, or , not)

In [15]:
print(100<=500)

True

In [14]:
print(6>10)

False

In [47]:
1 > 2

False

In [48]:
1 < 2

True

In [49]:
1 >= 1

True

In [50]:
1 <= 4

True

In [51]:
1 == 1

True

In [52]:
'hi' == 'bye'

False

## Logic Operators

In [16]:
(200 > 100) and (50> 15)

True

In [17]:
(56>=90) or (129== 50)

False

In [22]:
a = 200
b = 500
if b > a:
   print("b is bigger than a")

b is bigger than a

In [34]:
(1<2) or (2>3)

True

In [53]:
(1 > 2) and (2 < 3)

False

In [33]:
(1 < 2) or (2 < 3)

True

In [55]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [32]:
if 2022 > 2010:
    print("good")

good

In [6]:
if 1 < 2:
    print('Yep!')

Yep!

In [ ]:
if, elif, else

In [ ]:
if, elif, else

#one conditon (if)
Two condition (if and else)
More than two condtion (if, elif, else)

In [36]:
# 2 conditions
a = 200
b = 33
if b > a:
    print("b is bigger than a ")
else:
    print("b is not bigger than a")

b is not bigger than a

In [37]:
a = 200
b = 33
if b > a: 
    print("b is bigger than a ")
elif a==b:
    print("a and b are par")
else:
    print("a is bigger than b")

a is bigger than b

In [ ]:
#using Logical operator with if conditions

In [46]:
a = 200
b = 33
c = 50 
if a > b and c > a:
    print("Both condition are correct")

In [ ]:
# Nested if

In [48]:
y =  41
if y > 10: 
    print("Arhrhrh,")
    if y > 20: 
        print("and also above 20")
    else: 
        print("Not above 20")

Arhrhrh,
and also above 20

In [7]:
if 4>8:
    print("Great")
else:
    print('Bad')

Bad

In [8]:
if 8 > 4:
    print("Great")
else:
    print('Bad')

Great

In [57]:
if 1 < 2:
    print('yep!')

yep!

In [12]:
if 2>3:
    print('first')
else: print('second')

second

In [58]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [59]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [1]:
if 2>=3:
    print('vaild')
else:
    print('not valid')

not valid

In [16]:
if 3 >= 9:
    print('first')
elif 4==4:
    print('middle')
else: 
    print('Last')

middle

In [ ]:
if 2>3:
    print ("great")
elif 4=-=5:
    print('poor')
else:

In [60]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

In [10]:
if 8==9:
    print('number one')
elif 7==7:
    print('middle number')
else:
    print('last number')

middle number

## for Loops

In [11]:
seq = [1,2,3,4,5]

In [12]:
for item in seq:
    print(item)

1
2
3
4
5

In [3]:
fruit = ['mango', 'apple','orange','lemon']
for item in fruit:
    print(fruit)

['mango', 'apple', 'orange', 'lemon']
['mango', 'apple', 'orange', 'lemon']
['mango', 'apple', 'orange', 'lemon']
['mango', 'apple', 'orange', 'lemon']

In [4]:
state = ['Lagos','Ogun','Oyo','Osun','Ondo','Kogi','Abuja','Nassarawa','Kaduna','Plateau']
for item in state:
    print(item)

Lagos
Ogun
Oyo
Osun
Ondo
Kogi
Abuja
Nassarawa
Kaduna
Plateau

In [2]:
name = ['ayo','anu','jide','ojo']

In [5]:
for item in name:
    print (name)

['ayo', 'anu', 'jide', 'ojo']
['ayo', 'anu', 'jide', 'ojo']
['ayo', 'anu', 'jide', 'ojo']
['ayo', 'anu', 'jide', 'ojo']

In [13]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [14]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops

In [65]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [66]:
range(5)

range(0, 5)

In [67]:
for i in range(5):
    print(i)

0
1
2
3
4

In [11]:
for i in range (1):
    print(i)

0

In [68]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [69]:
x = [1,2,3,4]

In [70]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [71]:
[item**2 for item in x]

[1, 4, 9, 16]

## functions

In [72]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [73]:
my_func

In [74]:
my_func()

default

In [75]:
my_func('new param')

new param

In [76]:
my_func(param1='new param')

new param

In [77]:
def square(x):
    return x**2

In [78]:
out = square(2)

In [79]:
print(out)

4

## lambda expressions

In [80]:
def times2(var):
    return var*2

In [81]:
times2(2)

4

In [82]:
lambda var: var*2

## map and filter

In [83]:
seq = [1,2,3,4,5]

In [84]:
map(times2,seq)

In [85]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [86]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [87]:
filter(lambda item: item%2 == 0,seq)

In [88]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [111]:
st = 'hello my name is Sam'

In [112]:
st.lower()

'hello my name is sam'

In [113]:
st.upper()

'HELLO MY NAME IS SAM'

In [103]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [104]:
tweet = 'Go Sports! #Sports'

In [106]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [107]:
tweet.split('#')[1]

'Sports'

In [92]:
d

{'key1': 'item1', 'key2': 'item2'}

In [93]:
d.keys()

dict_keys(['key2', 'key1'])

In [94]:
d.items()

dict_items([('key2', 'item2'), ('key1', 'item1')])

In [95]:
lst = [1,2,3]

In [96]:
lst.pop()

3

In [108]:
lst

[1, 2]

In [109]:
'x' in [1,2,3]

False

In [110]:
'x' in ['x','y','z']

True

# Great Job!